<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481371472917-5dnm4u03kvd5a4vh9jtadotvkv423knk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481371472917-5dnm4u03kvd5a4vh9jtadotvkv423knk</string>
	<key>API_KEY</key>
	<string>AIzaSyBLeql85TyL7A_pqpjnFDjSZgzZScUJyyg</string>
	<key>GCM_SENDER_ID</key>
	<string>481371472917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>helpserviceappjawan</string>
	<key>STORAGE_BUCKET</key>
	<string>helpserviceappjawan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481371472917:ios:29636149c9775206f0ba1c</string>
</dict>
</plist>